<div class="list-group">
  {{#each lesson.exercises as |exercise|}}
    {{#link-to 'exercise' lesson.id exercise.id}}
      <span class="list-group-item list-group-item-primary">
        <strong>{{exercise.name}}</strong>
      </span>
    {{/link-to}}
    {{#each exercise.pages as |page|}}
      {{#link-to 'page' lesson.id exercise.id page.id}}
        <span class="list-group-item list-group-item-action">
        <strong>{{page.name}}</strong>
      </span>
      {{/link-to}}
    {{/each}}
    {{#if exercise.active}}
      <a class="list-group-item list-group-item-success" data-toggle="modal" data-target="#addPageModal">
        <i class="mdi mdi-plus"></i>
        Add a new page
      </a>
    {{/if}}
  {{/each}}
  <a class="list-group-item list-group-item-success" data-toggle="modal" data-target="#addExerciseModal">
    <strong>
      <i class="mdi mdi-plus"></i>
      Add a new exercise
    </strong>
  </a>
</div>
