<div class="card bg-light mb-3">
  <div class="card-header pt-2 pb-2">
    <span class="nav">Template</span>
  </div>
  <div class="card-body p-4">
    <div class="form-row mb-2">
      <div class="col">
        <div class="form-group form-row mb-0">
          <label class="col-form-label-sm">Name</label>
          <div class="col">
            <input type="text" class="form-control form-control-sm" value={{name}} oninput={{action 'setValueName' value="target.value"}}>
          </div>
        </div>
      </div>
    </div>
    {{#if hasSelected}}
      <a href="javascript:void(0)" class="card-link" {{action 'addTemplate' type}}>Create</a>
    {{else}}
      <a href="javascript:void(0)" class="card-link" disabled>Create</a>
    {{/if}}
  </div>
</div>
