<div class="card bg-light mb-3">
  <div class="card-header">Overview</div>
  <div class="card-body">
    <div class="d-flex flex-column align-items-start">
      <div class="ml-0">
        <i class="mdi mdi-resize-bottom-right"></i> {{klass.name}}
      </div>
      <div class="ml-2">
        <i class="mdi mdi-resize-bottom-right"></i> {{lesson.name}}
      </div>
      <div class="ml-3">
        <i class="mdi mdi-resize-bottom-right"></i> {{exercise.name}}
      </div>
      <div class="ml-4">
        <i class="mdi mdi-resize-bottom-right"></i> {{page.name}}
      </div>
    </div>
  </div>
</div>
