<div class="card bg-light mb-3">
  <div class="card-header pt-2 pb-2">
    <span class="nav">Export</span>
  </div>
  <div class="card-body p-4">
    <a href="/generator?lid={{lesson.id}}&format=BAK" class="card-link">as BAK</a>
    <a href="/generator?lid={{lesson.id}}&format=ZIP" class="card-link">as ZIP</a>
  </div>
</div>
