<div class="form-row">
  <div class="col">
    <div class="form-group form-row mb-0">
      <label class="col-form-label-sm">Directions</label>
      <div class="col">
        <input class="form-control form-control-sm" value="{{text}}" oninput={{action 'setValueText'}}>
      </div>
    </div>
  </div>
</div>
