<div class="form-row">
  <div class="col">
    <div class="form-group form-row mb-0">
      <label class="col-form-label-sm">Seconds</label>
      <div class="col">
        <input class="form-control form-control-sm" value="{{timeout}}" oninput={{action 'setValueTimeout' value="target.value"}}>
      </div>
    </div>
  </div>
</div>
