.wrapper-quick-post .nav-tabs .nav-link.active, .wrapper-quick-post .nav-tabs .nav-item.show .nav-link {
  border: 1px solid transparent;
}

.wrapper-quick-post .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}

.wrapper-quick-post input[name="script-line"] {
  border: 1px solid transparent;
}

.wrapper-quick-post input[name="script-line"]:focus {
  box-shadow: none;
}

.wrapper-quick-post .script-line-accessory {
  padding: 0;
}

.btn-md, .btn-group-md>.btn {
  border-radius: 1.766em;
  font-size: 0.782em;
  padding: 0.375rem 0.75rem;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dropzone {
  border-width: 2px;
  border-style: dashed;
}